@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

h1, h2, h3, h4 , h5 {
    font-family: 'Poppins', sans-serif;
}

canvas {
    width: inherit;
    max-width: 100%;
    margin: 0 auto;
    display: none;
    border: 1px solid #cdcdcd;
    background-color: #ffffff;
}

canvas:hover {
    cursor: grab;
}

canvas.grabbing:hover {
    cursor: grabbing
}

input[type="range"] {
    border-radius: 1em;
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 15px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    background: #333333; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 50%;
  }
  
input[type="range"]::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #333333; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

#action-buttons.hidden, #options.hidden, #zoom-controls.hidden {
    display: none;
}
  
#github-link {
    position: fixed;
    font-size: 1.5rem;
    bottom: 1em;
    right: 1em;
}